
@{
    ViewBag.Title = "Invoices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #clients_grid_paginate {
        float: right !important;
    }

    #clients_grid_wrapper {
        margin-top: -15px !important;
    }

    #clients_grid {
        margin: 0px !important;
    }

</style>

    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">

        <div class="row">
            <div class="col-md-12">

                <div class="portlet box blue-hoki">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-globe"></i> Invoices
                        </div>
                        <div class="tools"> </div>
                    </div>
                    <div class="portlet-body">
                        @*<div class="row">
                            <div class="col-md-12">
                                <a href="#PaymentModal" data-toggle="modal" class="btn btn-default">
                                    <i class="fa fa-plus"></i> New Payment
                                </a>
                            </div>
                        </div>*@

                        <div class="row margin-top-15">
                            <div class="col-md-12">
                               
                                    <table class="table table-striped table-bordered table-hover dt-responsive" id="clients_grid"></table>
                               
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>

    </div>

</div>

<div id="PaymentModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" id="PaymentContainer">
                @{
                    Html.RenderPartial("Add",new WFP.ICT.Web.Models.NewPaymentVm());
                }
            </div>
        </div>

    </div>
</div>


<script type="text/javascript">

    $(function () {
        $.validator.unobtrusive.parse('form');
        var form = $('#frm').get(0);
        var settings = $.data(form, 'validator').settings;
        settings.ignore = '';

        PaymentsGridConfig.initGrid();
    });

    var AddressConfigs = function () {
        handleAddSuccess = function (data, status) {
            if (data.IsSucess) {
                wfp.showSuccess('Payment has been added successfully.');
                $('#PaymentModal').modal('hide');
            }
            else {
                wfp.showError(data.ErrorMessage);
            }
        };
        return {
            initAddSuccess: function (data, status) {
                handleAddSuccess(data, status);
            }
        }
    }();

    var PaymentsGridConfig = function () {

        var grid = new Datatable();

        handleInitGrid = function () {
            grid.init({
                src: $("#clients_grid"),
                dataTable: {
                    "serverSide": true,
                    "processing": true,
                    "ajax": {
                        "url":
                        "/Payments/InitializePayments",
                    },
                    "columns": [

                        { "title": "Type", "data": "PaymentType" },

                        { "title": "Payment Date", "data": "PaymentDate" },

                        { "title": "Transaction Number", "data": "TransactionNumber" },

                     //{ "title": "Created At", "data": "Created" },

                        { "title": "Client Code", "data": "ClientAccountCode" },

                        { "title": "Client", "data": "ClientName" },

                     //{ "title": "Actions", "data": "Actions", sortable: false },

                    ],
                    "lengthMenu": [
                                    [5, 10, 15, 20, -1],
                                    [5, 10, 15, 20, "All"]
                    ],
                    "pageLength": 10,

                    buttons: [
                    {
                        extend: 'print', exportOptions: {
                            columns: ':visible'
                        }, className: 'btn default'
                    },
                    {
                        extend: 'pdf', exportOptions: {
                            columns: ':visible'
                        }, className: 'btn default'
                    },
                    {
                        extend: 'csv', exportOptions: {
                            columns: ':visible'
                        }, className: 'btn default'
                    },
                    { extend: 'colvis', className: 'btn default', text: 'Columns' }
                    ],
                    colReorder: true,

                    "dom": "<'row'<'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

                    "language": {
                        "aria": {
                            "sortAscending": ": activate to sort column ascending",
                            "sortDescending": ": activate to sort column descending"
                        },
                        "emptyTable": "No data available in table",
                        "info": "Showing _START_ to _END_ of _TOTAL_ records",
                        "infoEmpty": "No records found",
                        "infoFiltered": "(filtered1 from _MAX_ total records)",
                        "lengthMenu": "Show _MENU_",
                        "search": "Search:",
                        "zeroRecords": "No matching records found",
                        "paginate": {
                            "previous": "Prev",
                            "next": "Next",
                            "last": "Last",
                            "first": "First"
                        }
                    },
                    "pagingType": "bootstrap_number",
                    "columnDefs": [
                    ],
                   
                },

            });
        };



        //$('body').on('click', '.btnDelete', function () {
        //    var btnDelete = $(this);
        //    var id = btnDelete.attr('data-id');
        //    var dataToPost = "{id : '" + id + "'}";

        //    wfp.showSwal("Are you sure to delete this Payment?",
        //        function () {
        //            $.ajax({
        //                type: "POST",
        //                url: '/Client/Delete',
        //                data: dataToPost,
        //                contentType: "application/json; charset=utf-8",
        //                success: function (response) {
        //                    if (response.IsSucess) {

        //                        wfp.showSuccess('Client has been deleted successfully.');
        //                        $("#address_grid").DataTable().ajax.reload(null, true);

        //                    } else {
        //                        wfp.showError(response.ErrorMessage);
        //                    }
        //                },
        //                failure: function (response) {
        //                    wfp.showError('There is erorr in service call.');
        //                },
        //                complete: function () {
        //                }
        //            });
        //        });
        //});

        $('body').on('click', '.btnEdit', function () {
            var btnEdit = $(this);
            var id = btnEdit.attr('data-id');
            var dataToPost = "{id : '" + id + "'}";
            $("#PaymentContainer").html('');
            $.ajax({
                type: "POST",
                url: '/Payments/Edit',
                data: dataToPost,
                contentType: "application/json; charset=utf-8",
                success: function (response) {

                    if (response.IsSucess == false) {
                        wfp.showError(response.ErrorMessage);
                    }
                    else {
                        debugger;
                        $("#PaymentContainer").html(response);
                        $("#PaymentModal").modal('show');


                    }

                },
                failure: function (response) {
                    wfp.showError('There is erorr in service call.');
                },
                complete: function () {
                }

            });
        });


        hanleReloadGrid = function () {
            $("#clients_grid").DataTable().ajax.reload(null, true);
        };

        return {
            initGrid: function () {
                handleInitGrid();
            },

            initLoadGrid: function () {
                hanleReloadGrid();
            }
        }

    }();


    //var lng = '33.919307';
    //var lat = '-118.009348';
    var lng = '';
    var lat = '';
    $('#PaymentModal').on('hidden.bs.modal', function () {
        $("#PaymentModal #frm").get(0).reset();
        $('#PaymentModal').find('.help-block-error').empty();
        $("#PaymentContainer").find('#AddressLng').val('');
        $("#PaymentContainer").find('#AddressLat').val('');

    });

    $('#PaymentModal').on('shown.bs.modal', function (e) {
       
    });
</script>