<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>Encore Piano Moving Software - @ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="../../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/global/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/global/plugins/bootstrap-datetimepicker2/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/global/plugins/bootstrap-sweetalert/sweetalert.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/global/css/wfp.css" rel="stylesheet" type="text/css" />

    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="../../assets/global/plugins/morris/morris.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/global/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/global/plugins/jqvmap/jqvmap/jqvmap.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="../../assets/global/css/components-md.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="../../assets/global/css/plugins-md.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="../../assets/layouts/layout4/css/layout.min.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/layouts/layout4/css/themes/default.min.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="../../assets/layouts/layout4/css/custom.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME LAYOUT STYLES -->
    <link rel="shortcut icon" href="../../favicon.ico" />
    @*<link rel="icon" href="~/favicon.ico" type="image/x-icon" />*@
    
    

    <!--[if lt IE 9]>
        <script src="../../assets/global/plugins/respond.min.js"></script>
        <script src="../../assets/global/plugins/excanvas.min.js"></script>
        <script src="../../assets/global/plugins/ie8.fix.min.js"></script>
        <![endif]-->
    <!-- BEGIN CORE PLUGINS -->
    <script src="../../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="../../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../../assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
    <script src="../../assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="../../assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="../../assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <script src="../../assets/global/plugins/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
    <script src="../../assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="../../assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="../../assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="../../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="../../assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="../../assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    <script src="../../assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="../../assets/global/plugins/bootstrap-datetimepicker2/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
    <script src="../../assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="../../assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="../../assets/pages/scripts/ui-blockui.js" type="text/javascript"></script>
    <script src="../../assets/global/plugins/bootstrap-sweetalert/sweetalert.min.js" type="text/javascript"></script>
    <script src="../../assets/global/plugins/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
    <script src="../../assets/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>

    @*<script src="../../assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
        <script src="../../assets/pages/scripts/components-bootstrap-select.min.js" type="text/javascript"></script>*@
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script src="../../assets/global/scripts/app.min.js" type="text/javascript"></script>
    <script src="../../assets/global/scripts/wfp.js" type="text/javascript"></script>
    <!-- END THEME GLOBAL SCRIPTS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="../../assets/pages/scripts/table-datatables-responsive.js" type="text/javascript"></script>
    <script src="../../assets/pages/scripts/ui-toastr.min.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    <script src="../../assets/layouts/layout4/scripts/layout.min.js" type="text/javascript"></script>
    <script src="../../assets/layouts/layout4/scripts/demo.min.js" type="text/javascript"></script>
    <script src="../../assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
    <script src="../../assets/layouts/global/scripts/quick-nav.min.js" type="text/javascript"></script>
    <!-- END THEME LAYOUT SCRIPTS -->

</head>
<!-- END HEAD -->
<body class="page-container-bg-solid page-header-fixed page-sidebar-closed-hide-logo page-md">

@{
    Html.RenderPartial("_Header");
}
    <!-- BEGIN CONTAINER -->
    <div class="page-container" id="divBodyContent">
        @{
            Html.RenderPartial("_Sidebar");
        }
        
        @RenderBody()

        @*@{
            Html.RenderPartial("_SidebarQuick");
        }*@
    </div>
    <!-- END CONTAINER -->
    
@{
    Html.RenderPartial("_Footer");
}

@*@{
    Html.RenderPartial("_QuickNavigation");
}*@
    
    <script>
        var wfp = wfp || {};

        $(document).ajaxStart(function ()
        {
            //wfp.blockUI({
            //    target: $('#divBodyContent'),
            //    boxed: true,
            //    message: 'Processing...'
            //});
            App.blockUI({
                target: '#divBodyContent',
                animate: true
            });
        })
        .ajaxStop(function ()
        {
            //wfp.unblockUI($('#divBodyContent'))
            App.unblockUI('#divBodyContent');
        });

        $(document).ajaxError(function (e, xhr) {
            debugger;
            if (xhr.status === 403) {
                // var response = $.parseJSON(xhr.responseText);
               // window.location = response.LogOnUrl;
            }
            // else
               // wfp.reload();
        });

        $(document).ready(function () {

            $('[data-tooltip="tooltip"]').tooltip();
            
        });

        function showToaster(prop) {

            prop = (typeof prop !== "object") ? {} : prop;
            prop.msg = prop.msg || '';  // default msg will be empty string
            prop.title = prop.title || '';  // default title will be empty string
            prop.priority = prop.priority || 'success';  // default priority will be success
            prop.position = prop.position || 'bottom';  // default position will be bottom

            // call base method
            showToasterOption(prop.msg, prop.title, prop.priority, prop.position);
        }

        function showToasterOption(msg, title, priority, position) {
            // Default setting 
            toastr.options = { "closeButton": true, "newestOnTop": true };

            // Default position is toast-bottom-right
            if (position.toLowerCase() == "top") {
                toastr.options = { "positionClass": "toast-bottom-right" };
            } else {
                toastr.options = { "positionClass": "toast-bottom-right" };
            }

            // Default type is success
            if (priority.toLowerCase() == "info") {
                toastr.info(msg, title);
            } else if (priority.toLowerCase() == "warning") {
                toastr.warning(msg, title);
            } else if (priority.toLowerCase() == "error") {
                toastr.error(msg, title);
            } else {
                toastr.success(msg, title);
            }
        }


    </script>
</body>
</html>