<!-- BEGIN QUICK NAV -->
<nav class="quick-nav">
    <a class="quick-nav-trigger" href="#0">
        <span aria-hidden="true"></span>
    </a>
    <ul>
        <li>
            <a href="/" class="active">
                <span>Orders</span>
                <i class="icon-book-open"></i>
            </a>
        </li>
        <li>
            <a href="/Home/NewOrder">
                <span>New Order</span>
                <i class="icon-users"></i>
            </a>
        </li>
    </ul>
    <span aria-hidden="true" class="quick-nav-bg"></span>
</nav>
<div class="quick-nav-overlay"></div>
<!-- END QUICK NAV -->