.form .form-body, .portlet-form .form-body {
    padding: 0px !important;
}
.form .form-actions, .portlet-form .form-actions {
    padding: 0px !important;
    margin-bottom: 10px !important;
}
.page-header.navbar .menu-toggler.sidebar-toggler {
    margin: 10px 0 0 !important
}

.page-header.navbar .page-logo {
    margin-top: 20px !important;
    color: white
}

/*For Grid Checkboxes*/
    .dt-button-collection a.buttons-columnVisibility:before,
    .dt-button-collection a.buttons-columnVisibility.active span:before {
        display: block;
        position: absolute;
        top: 1.3em;
        left: 0;
        width: 14px;
        height: 14px;
        box-sizing: border-box;
    }

    .dt-button-collection a.buttons-columnVisibility:before {
        content: ' ';
        margin-top: -6px;
        margin-left: 5px;
        border: 1px solid black;
        border-radius: 0px;
    }

    .dt-button-collection a.buttons-columnVisibility.active span:before {
        content: '\2714';
        margin-top: -11px;
        margin-top: -7px;
        font-size: 12px;
        margin-left: 6px;
        text-align: center;
        text-shadow: 1px 1px #DDD, -1px -1px #DDD, 1px -1px #DDD, -1px 1px #DDD;
    }

    .dt-button-collection a.buttons-columnVisibility span {
        margin-left: 12px;
    }