@model WFP.ICT.Web.Models.InvoiceViewModel
@{
    ViewBag.Title = "Invoice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">

    <div class="page-content">

        <div class="row">
            <div class="col-md-12">

                <div class="portlet box blue-hoki">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-globe"></i>Invoice
                        </div>
                        <div class="tools"> </div>
                    </div>
                    <div class="portlet-body">

                    </div>
                </div>
                <!-- END EXAMPLE TABLE PORTLET-->
            </div>
        </div>
        <!-- END PAGE BASE CONTENT -->
    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->

<script type="text/javascript">

    var wfp = wfp || {};



</script>

