@using WFP.ICT.Web.Models

@{
    ViewBag.Title = "Orders Status";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
     #orders_status_grid_paginate{
        float:right !important;

    }
         #orders_status_grid_wrapper{
        margin-top:0px !important;

    }
    #orders_status_grid{
        margin:0px !important;
    }

</style>
<link href="~/assets/global/plugins/lightbox/lightbox.min.css" rel="stylesheet" />
<div class="page-content-wrapper">
    <div class="page-content">

        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                <div class="portlet box blue-hoki">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-globe"></i>Order Status
                        </div>
                        <div class="tools"> </div>
                    </div>
                    <div class="portlet-body">
                        <table class="table table-striped table-bordered table-hover dt-responsive" id="orders_status_grid"></table>
                    </div>
                </div>
                <!-- END EXAMPLE TABLE PORTLET-->
            </div>
        </div>
        <!-- END PAGE BASE CONTENT -->
    </div>
    <!-- END CONTENT BODY -->
</div>

<script>
    var assetListVM;
    $(function () {
        var grid = new Datatable();

        grid.init({
            src: $("#orders_status_grid"),
            dataTable: { 
                "serverSide": true,
                "processing": true,
                "ajax": {
                    "url":
                    "@Url.Action("InitiliazeOrders", "DeliveryStatus")"
                        
                },
                "columns": [

                 { "title": "Order #", "data": "OrderNumber" },

                 { "title": "Consignment #", "data": "ConsignmentNumber" },

                 { "title": "Status", "data": "Status" },

                 { "title": "Recieved By", "data": "Recieved"},

                 { "title": "Signature", "data": "Signature", sortable: false },

                 { "title": "Recieving Date Time", "data": "RecievingDate" },

                 { "title": "Notes", "data": "Notes" },

                 {
                     "title": "POD", "data": "Form", sortable: false, "render": function (data, type, row) {
                         debugger;
                         if (data === "" || data === null) return "";

                         var url = "/DeliveryStatus/GeneratePOD?id=" + row.Id;
                         return "<a target='_blank' href=\"" + url + "\" >Print</a>";
                     }
                 },

                 { "title": "Pictures", "data": "Pictures", sortable: false },

                 { "title": "Bench 1 Unload", "data": "Bench1UnloadStatus", "class": "none" },
                 { "title": "Bench 2 Unload", "data": "Bench2UnloadStatus", "class": "none" },
                 { "title": "CasterCups Unload", "data": "CasterCupsUnloadStatus", "class": "none" },
                 { "title": "Cover Unload", "data": "CoverUnloadStatus", "class": "none" },
                 { "title": "Lamp Unload", "data": "LampUnloadStatus", "class": "none" },
                 { "title": "OwnersManual Unload", "data": "OwnersManualUnloadStatus", "class": "none" },
                 { "title": "Misc.1 Unload", "data": "Misc1UnloadStatus", "class": "none" },
                 { "title": "Misc.2 Unload", "data": "Misc2UnloadStatus", "class": "none" },
                 { "title": "Misc.3 Unload", "data": "Misc3UnloadStatus", "class": "none" },

           
            ],
            "lengthMenu": [
                            [5, 10, 15, 20, -1],
                            [5, 10, 15, 20, "All"]
            ],
            "pageLength": 10,

            buttons: [
            {
                extend: 'print', exportOptions: {
                    columns: ':visible'
                }, className: 'btn default'
            },
            {
                extend: 'pdf', exportOptions: {
                    columns: ':visible'
                }, className: 'btn default'
            },
            {
                extend: 'csv', exportOptions: {
                    columns: ':visible'
                }, className: 'btn default'
            },
            { extend: 'colvis', className: 'btn default' , text :'Columns' }
            ],
            colReorder: true,

            "dom": "<'row'<'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ records",
                "infoEmpty": "No records found",
                "infoFiltered": "(filtered1 from _MAX_ total records)",
                "lengthMenu": "Show _MENU_",
                "search": "Search:",
                "zeroRecords": "No matching records found",
                "paginate": {
                    "previous": "Prev",
                    "next": "Next",
                    "last": "Last",
                    "first": "First"
                }
            },
            "pagingType": "bootstrap_number",
            "columnDefs": [
              { "width": "10%", "targets": 8 }
            ],
            "order" :[[0 , 'asc']]
            },

        });
    }); 
</script>

<script src="~/assets/global/plugins/lightbox/lightbox.min.js"></script>