@model List<WFP.ICT.Web.Models.CompanyRoleVm>
@{
    ViewBag.Title = "Roles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #epmGrid_paginate {
        float: right !important;
    }

    #epmGrid_wrapper {
        margin-top: 0px !important;
    }

    #epmGrid {
        margin: 0px !important;
    }

    .map-container-address {
        height: 300px;
        width: 100%;
    }

    #gmap_location {
        height: 100% !important;
        width: 100% !important;
    }

    #AddModal .modal-lg {
        width: 75%;
    }

    #epmGrid .dataTables_wrapper .dt-buttons {
        margin-top: -140px;
    }
</style>
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">

        <div class="row">
            <div class="col-md-12">

                <div class="portlet box green-steel">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-cogs"></i> Roles
                        </div>
                        <div class="tools"> </div>
                    </div>
                    <div class="portlet-body">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="#AddModal" data-toggle="modal" class="btn btn-default">
                                    <i class="fa fa-plus"></i> New Role
                                </a>
                            </div>
                        </div>

                        <div class="row margin-top-15">
                            <div class="col-md-12">
                                <table class="table table-striped table-bordered table-hover dt-responsive" id="epmGrid"></table>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>

    </div>

</div>

<div id="AddModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" id="AddContainer">
                @{
                    Html.RenderPartial("RoleAdd", new WFP.ICT.Web.Models.CompanyRoleVm());
                }
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">

    var wfp = wfp || {};

    $(function () {
        debugger;
        //$.validator.unobtrusive.parse('form');
        //var form = $('#frm').get(0);
        //var settings = $.data(form, 'validator').settings;
        //settings.ignore = '';

        epm.initGridRoles();

    });
    
    var epm = function () {

        var grid = new Datatable();
        
        return {
            initGridRoles: function () {

                grid.init({
                    src: $("#epmGrid"),
                    dataTable: {
                        "serverSide": true,
                        "processing": true,
                        "ajax": {
                            "url": "/Company/InitializeRoles",
                        },
                        "initComplete": function (settings, json) {
                        },
                        "drawCallback": function (settings) {
                            epm.select2Permissions();
                        },
                        "columns": [

                            { "title": "Name", "data": "Name", sortable: true },

                            { "title": "Description", "data": "Description" },

                            { "title": "Permissions", "data": "Permissions", sortable: false },

                            { "title": "Actions", "data": "Actions", sortable: false },

                        ],
                        "lengthMenu": [
                            [5, 10, 15, 20, -1],
                            [5, 10, 15, 20, "All"]
                        ],
                        "pageLength": 10,

                        buttons: [
                            {
                                extend: 'print', exportOptions: {
                                    columns: ':visible'
                                }, className: 'btn default'
                            },
                            {
                                extend: 'pdf', exportOptions: {
                                    columns: ':visible'
                                }, className: 'btn default'
                            },
                            {
                                extend: 'csv', exportOptions: {
                                    columns: ':visible'
                                }, className: 'btn default'
                            },
                            { extend: 'colvis', className: 'btn default', text: 'Columns' }
                        ],
                        colReorder: true,

                        "dom": "<'row'<'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

                        "language": {
                            "aria": {
                                "sortAscending": ": activate to sort column ascending",
                                "sortDescending": ": activate to sort column descending"
                            },
                            "emptyTable": "No data available in table",
                            "info": "Showing _START_ to _END_ of _TOTAL_ records",
                            "infoEmpty": "No records found",
                            "infoFiltered": "(filtered1 from _MAX_ total records)",
                            "lengthMenu": "Show _MENU_",
                            "search": "Search:",
                            "zeroRecords": "No matching records found",
                            "paginate": {
                                "previous": "Prev",
                                "next": "Next",
                                "last": "Last",
                                "first": "First"
                            }
                        },
                        "pagingType": "bootstrap_number",
                        "columnDefs": [
                        ],

                    },

                });
                
            },

            reloadGridRoles: function () {

                $("#epmGrid").DataTable().ajax.reload(null, true);

            },

            select2Permissions: function (data, status) {

                debugger;
                $(".permissions").select2();

                $('.permissions').on("select2:selecting", function (e) {
                    debugger;
                    var select = $(this);
                    var currentVals = select.val() != null ? select.val() : [];
                    var roleId = $(this).attr('id');
                    var permissionId = e.params.args.data.id;
                    var dataToPost = {
                        Id: roleId,
                        Action: 'add',
                        PermissionId: permissionId
                    };

                    e.preventDefault();

                    wfp.showSwal("Are you sure?", function () {
                        debugger;
                        currentVals.push(permissionId);
                        select.val(currentVals).trigger("change");

                        $.ajax({
                            type: "POST",
                            url: "/Company/ChangeRolePermission",
                            data: dataToPost,
                            success: function (response) {
                                debugger;
                                if (response === "") wfp.reload();
                                if (response.IsSucess) {
                                    wfp.showSuccess('Permission has been added successfully.');
                                } else {
                                    wfp.showError(response.ErrorMessage);
                                }
                            },
                            failure: function (response) {
                                wfp.showError('There is erorr in service call.');
                            },
                            complete: function () {
                            }
                        });

                        return true;

                    }, function () {
                        debugger;
                        select.select2("close");
                        return false;
                    });

                });

                $('.permissions').on("select2:unselecting", function (e) {
                    debugger;
                    var select = $(this);
                    var currentVals = select.val() != null ? select.val() : [];
                    var roleId = $(this).attr('id');
                    var permissionId = e.params.args.data.id;
                    var dataToPost = {
                        Id: roleId,
                        Action: 'remove',
                        PermissionId: permissionId
                    };

                    e.preventDefault();

                    wfp.showSwal("Are you sure?", function () {
                        debugger;
                        currentVals.remove(permissionId);
                        select.val(currentVals).trigger("change");

                        $.ajax({
                            type: "POST",
                            url: "/Company/ChangeRolePermission",
                            data: dataToPost,
                            success: function (response) {
                                debugger;
                                if (response === "") wfp.reload();
                                if (response.IsSucess) {
                                    wfp.showSuccess('Permission has been removed successfully.');
                                } else {
                                    wfp.showError(response.ErrorMessage);
                                }
                            },
                            failure: function (response) {
                                wfp.showError('There is erorr in service call.');
                            },
                            complete: function () {
                            }
                        });

                        return true;

                    }, function () {
                        debugger;
                        select.select2("close");
                        return false;
                    });

                });

            },
            addSuccessRoles: function (data, status) {
                if (data.IsSucess) {
                    wfp.showSuccess('Role has been added successfully.');
                    $('#AddModal').modal('hide');
                    epm.reloadGridRoles();
                }
                else {
                    wfp.showError(data.ErrorMessage);
                }
            }

        }

    }();
    
    $('body').on('click', '.btnDelete', function () {
        var btnDelete = $(this);
        var id = btnDelete.attr('data-id');
        var dataToPost = "{id : '" + id + "'}";

        wfp.showSwal("Are you sure to delete?",
            function () {
                $.ajax({
                    type: "POST",
                    url: '/Company/DeleteRole',
                    data: dataToPost,
                    contentType: "application/json; charset=utf-8",
                    success: function (response) {
                        if (response.IsSucess) {

                            wfp.showSuccess('Role has been deleted successfully.');
                            epm.reloadGridRoles();

                        } else {
                            wfp.showError(response.ErrorMessage);
                        }
                    },
                    failure: function (response) {
                        wfp.showError('There is erorr in service call.');
                    },
                    complete: function () {
                    }
                });
            });
    });

    $('body').on('click', '.btnEdit', function () {
        var btnEdit = $(this);
        var id = btnEdit.attr('data-id');
        var dataToPost = "{id : '" + id + "'}";
        $("#AddContainer").html('');
        $.ajax({
            type: "POST",
            url: '/Company/EditRole',
            data: dataToPost,
            contentType: "application/json; charset=utf-8",
            success: function (response) {

                if (response.IsSucess == false) {
                    wfp.showError(response.ErrorMessage);
                }
                else {
                    debugger;
                    $("#AddContainer").html(response);
                    $("#AddModal").modal('show');
                }

            },
            failure: function (response) {
                wfp.showError('There is erorr in service call.');
            },
            complete: function () {
            }

        });
    });

    $('#AddModal').on('hidden.bs.modal', function () {
        $("#AddModal #frm").get(0).reset();
        $('#AddModal').find('.help-block-error').empty();
    });

    $('#AddModal').on('shown.bs.modal', function (e) {
    });
</script>
